@charset "UTF-8";
.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 40px;
}

.h4 {
  font-size: 32px;
}

.h5 {
  font-size: 24px;
}

.p1 {
  font-size: 21px;
}

.p2 {
  font-size: 19px;
}

.p3 {
  font-size: 17px;
}

.p4 {
  font-size: 13px;
}

.p5 {
  font-size: 11px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.p1,
.p2,
.p3,
.p4,
.p5 {
  line-height: 130%;
}

* {
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #F9F9F9;
  color: #4A4A4A;
}

section {
  height: 80vh;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
}

.r {
  font-weight: 400;
}

.b {
  font-weight: 700;
}

.btn {
  background-color: #fff;
  border: solid 1px #EBEBEB;
}
.btn:hover {
  background-color: #F9F9F9;
}

.btn,
.btn-trns {
  cursor: pointer;
  font-weight: 700;
  line-height: 130%;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}
a:hover {
  color: #1E93FF;
}

.circle {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #969696;
  border-radius: 4px;
}

/* Color text pattern */
.sub-t {
  color: #969696;
}

/* Alignment pattern */
.flex-fill-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-h {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Animation pattern */
.anim-sp-n, .achievements-links .achievements-details {
  transition: 0.3s ease-out;
}

.anim-sp-h, .scrollbar .scroll, .disabled, .header-section, .header {
  transition: 0.2s ease-out;
}

/* Scroll */
/* Customizes the whole scrollbar */
::-webkit-scrollbar {
  width: 0px;
  /* Width of the scrollbar */
}

/* Customizes the track of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

/* Customizes the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 0px;
  /* Color of the thumb */
}

/* Changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #636363;
  /* Darker color on hover */
}

/* Header */
.home-btn {
  margin: 10px 0;
}

.header {
  height: 100vh;
  position: relative;
}
.header #up {
  bottom: 161px;
  transform: rotate(180deg);
  z-index: 2000;
}
.header #up.change {
  bottom: 60px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.header-links {
  display: flex;
  gap: 56px;
  align-items: center;
}
.header-links a {
  padding: 8px;
  transition: 0.3s ease-out;
}

.header-section {
  animation: slideInDown 0.6s ease forwards;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 117px);
}
.header-section__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  max-width: 50vw;
  height: auto;
  max-height: calc(100vh - 117px);
}
.header-section__text {
  margin-top: 25vh;
  max-width: 636px;
  margin-right: 144px;
}
.header-section__text h1 {
  color: #4a4a4a;
}
.header-section__tags {
  color: #4A4A4A;
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
.header-section__tags .tag {
  display: inline-flex;
  padding: 8px 20px;
  background-color: #E3E3E3;
  border-radius: 12px;
  align-items: center;
  gap: 8px;
}
.header-section__tags .circle {
  width: 6px;
  height: 6px;
}
.header-section__upper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
}
.header-section__upper .p2 {
  color: #969696;
}
.header-section__upper .circle {
  background-color: #969696;
}

.achievements .h2 {
  margin-top: 150px;
}

.btn-scroll {
  border-radius: 100px;
  padding: 25px 29px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 72px;
  z-index: 999;
  margin-right: 32px;
}

.person-info {
  background-color: #E3E3E3;
  border-radius: 20px;
  bottom: 64px;
  left: 0;
  gap: 2px;
  padding: 20px 20px;
  width: 319px;
  max-height: 117px;
}
.person-info .h4 {
  color: #4A4A4A;
}
.person-info .flex-fill-h .p3 {
  color: #636363;
}
.person-info .flex-h .p4 {
  color: #7D7D7D;
}

.d-flex, .person-info {
  display: flex;
  flex-direction: column;
  position: absolute;
}

/* Drop down */
.dd-area {
  position: relative;
  width: 48px;
  height: 32px;
}
.dd-list-btn {
  position: absolute;
  top: -1;
  padding: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 130%;
  font-size: 13px;
  z-index: 999;
  border-radius: 12px;
}
.dd-list {
  position: absolute;
  top: 34px;
  width: 48px;
  border-radius: 12px;
  z-index: 999;
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.dd-btn {
  text-align: center;
  padding: 8px;
  border-radius: 12px;
  line-height: 130%;
  font-size: 13px;
}
.dd-btn:hover {
  background-color: #EBEBEB;
}
.dd-area:hover .dd-list-btn {
  background-color: #B0B0B0;
}
.dd-area:hover .dd-list-hover {
  transform: translateX(0px);
  opacity: 1;
  width: 48px;
  height: auto;
}
.dd-list-hover {
  transform: translateX(48px);
  transition: 0.3s ease;
  opacity: 0;
  width: 0;
  height: 0;
}

.disabled {
  display: none;
}

.rotate {
  bottom: 0;
}

.achievements {
  position: relative;
}
.achievements-list {
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
  display: flex;
  flex-direction: column;
  gap: 48px;
  z-index: 99;
}
.achievements-person {
  width: auto;
  height: auto;
  max-height: 30vh;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.achievements-links {
  text-align: center;
  margin-top: 210px;
  margin-right: 120px;
}
.achievements-links .achievements-details {
  padding: 8px;
  display: inline-block;
  margin-top: 73px;
}
.achievements-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}

.achievements-info {
  display: flex;
  flex-direction: column;
}
.achievements-info .h2 {
  margin-bottom: 8px;
}
.achievements-info .subtitle {
  margin-bottom: 98px;
  color: #969696;
}

.scrollbar {
  position: absolute;
  right: 32px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 4px;
  height: 45%;
  transform: translate(0, 55%);
}
.scrollbar .scroll {
  width: inherit;
  background-color: #EBEBEB;
  border-radius: 20px;
  height: 20vh;
}
.scrollbar .scroll.active {
  background-color: #B0B0B0;
  height: 60vh;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  60% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Анимация для появления снизу */
@keyframes slideInUp {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }
  60% {
    transform: translateY(-30%);
    opacity: 1;
  }
  80% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Применение анимации */
.slide-in-down {
  animation: slideInDown 0.6s ease-out;
}

.slide-in-up {
  animation: slideInUp 0.6s ease-out;
}

/* Исходное состояние секции (скрытая) */
.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */